@import "./base.scss";

.container__profile {
    @include flex-column-start;
    background-color: rgb(203, 207, 207);

    width: 360px;
    height: 294px;

    padding: 1rem;
    gap: 1rem;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    &__image {
        width: 98px;
        height: 98px;

            &--img {
        
                width: 98px;
                height: 98px;
                background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlk37Dwj485j1RPXU5sYo2TGl9fYXXxKOcSHXLBaCX5w&s);
                border-radius: 50%;
            }
    }

    &__content {
       @include flex-column-start; 
       
       width: 328px;
       height: 148px;
        gap: 1rem;
        
            &--title {
                width: 20.5rem;
                height: 52px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 1.375rem;
                line-height: 1.625rem;

                color: $color-preto;
            }

            &--paragraph {
                width: 328px;
                height: 48px;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1rem;
                color: $color-preto;
            }

            &--links{
        
                display: flex;
                flex-direction: row;
                justify-content: center;
            
                width: auto;
                height: 1rem;
                gap: 0.5rem;
                
                a {
                    text-decoration: none;
                    position: relative;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 0.875rem;
                    line-height: 1rem;


                    &::after{
                        content: " ";
                        width: 0%;
                        height: 2px;
                        background-color: $color-preto;
    
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: 0.5s ease-in-out;
                    }

                    &:hover::after{
                        width: 100%;
                    }

                    &:link {
                        color: $color-preto;
                    }

                    &:visited {
                        color: #696969;
                    }
                }
            }
    }
}

/* Sobre mim */

.container__aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 0.625rem;
    width: 360px;
    height: 350px;
    background: $color-azul10;

    flex: none;
    order: 2;
    flex-grow: 0;

    &__block {
        @include flex-column-start;
        justify-content: center;
        width: 360px;
        height: 350px;
        gap: 1rem;
        


        &--title {
            width: 7.81rem;
            height: 1.625rem;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;

            color: $color-preto;
        }

        &--paragraph {
            width: 20.5rem;
            height: 13rem;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1rem;

            color: $color-preto;
        }
    }
}

/* &--title {
    width: 125px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    color: $color-preto;

} */

