

/* Header */

.header__container {
     @include flex-row-space-between;
     height: 8rem;
     gap: 1rem;
     background-color: $background_color-cinza-claro;
}

.header__container__name {

     @include flex-row-center;

     width: auto;
     height: 1.5rem; // 24px      
     gap: 0.5rem;

     &--title {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 700;
          font-weight: 0.75rem; // 12px
          line-height: 1.188rem; //19px
          font-size: 1.5rem;
          color: $color-preto;

          &::after {
               content: "";
               width: 11px;
               height: 20px;
               border-bottom: solid 2px $color-preto;
               animation: underline_animation  0.65s step-end infinite;
               display: inline-block;
          }

          @keyframes underline_animation {
               0% { opacity: 0; }
               50% { opacity: 0.5; }
               100% { opacity: 1; }
          }
     }


}

.header__container__nav {
     width: auto;
     height: 19px;

     &--ul {
          @include flex-row-center; 
          gap: 2rem;

          a {
               text-decoration: none;
               position: relative;
               font-family: $font-family-Raleway;
               font-style: normal;
               font-weight: 500;
               font-size: 1.5rem;
               line-height: 1.188rem;
       
               &::after {
                 content: " ";
                 width: 0%;
                 height: 2px;
                 background-color: $color-preto;
       
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 transition: 0.5s ease-in-out;
               }
       
               &:hover::after {
                 width: 100%;
               }
       
               &:link {
                 color: $color-preto;
               }
       
               &:visited {
                 color: #696969;
               }
             }
     }
}

.header__container__contact {
     display: none;
}