

/* Header */

.header__container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     height: auto;
     width: 368.073px;
     padding: 1rem;
     gap: 1rem;
     background-color: $background_color-cinza-claro;
}

.header__container__name {

     display: flex;
     align-items: center;
     flex: none;
     order: 0;
     flex-grow: 0;
     width: 150px;
     height: 24px;
          
     padding: 0px;
     gap: 0.5rem;

     &--title {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 700;
          font-weight: 12px;
          line-height: 19px;
          font-size: 1rem;
          color: $color-preto;
     }
}

.header__container__contact {

     display: flex;
     flex-wrap: wrap;

     &--name {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 12px;
          color: $color-preto;
          
     }
}


