.container__profile {
  @include flex-row-center;
  height: auto;

  background-color: #e5e5e5;

  &__image {
    margin: 0 1rem;

    &--img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 1px solid $color-preto;
      background-image: url("../img/Foto3x4sorrindo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      box-shadow: 1px 1px 3px 0px black;
    }
  }

  &__content {
    @include flex-column-start;
    padding-right: 2rem;
    gap: 2rem;

    &--title {
      width: auto;
      height: auto;

      font-family: "Raleway";
      font-style: normal;
      font-size: 3rem;
      font-weight: 700;
      line-height: 3.5rem;

      color: $color-preto;
    }

    &--paragraph {
      width: auto;
      height: auto;

      font-family: $font-family-Raleway;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.825rem;
      color: $color-preto;
    }

    &--links {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      width: auto;
      height: 1rem;
      gap: 2rem;

      a {
        text-decoration: none;
        position: relative;
        font-family: $font-family-Raleway;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1rem;

        &::after {
          content: " ";
          width: 0%;
          height: 2px;
          background-color: $color-preto;

          position: absolute;
          bottom: 0;
          left: 0;
          transition: 0.5s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }

        &:link {
          color: $color-preto;
        }

        &:visited {
          color: #696969;
        }
      }
    }
  }
}

/* Sobre mim */

.container__aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 0.625rem;
  height: auto;
  background: $color-azul10;

  &__block {
    @include flex-column-start;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1rem;

    &--title {
      font-family: $font-family-Raleway;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.625rem;

      color: $color-preto;
    }

    &--paragraph {
      height: auto;
      font-family: $font-family-Raleway;
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.825rem;;

      color: $color-preto;
    }
  }
}

/* SKILSS */

.container__skills {
  @include flex-column-center;
 
  flex-wrap: wrap;
  gap: 2.5rem;
  background-color: $background_color-cinza-claro;
  padding-bottom: 3.5%;

  &--title {
    height: 26px;
    margin: 1rem;
    font-family: $font-family-Raleway;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.625rem;
    color: $color-preto;
  }

  &__group {
    @include flex-row-center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 2.5rem;

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 174px;
      height: 170px;
      padding: 1rem;
      gap: 8px;
      background-color: $background_color-branco;

      &--text {
        font-family: $font-family-Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 19px;
        color: $color-preto;
      }

      &:hover {
        transform: scale(1.1);
        background-color: $color-azul-escuro;
        transition: 0.5s;

        &:hover > i,
        p {
          transform: scale(1.1);
          color: #e5e5e5;
          transition: 0.5s;
        }
      }
    }
  }
}

/* Academic education */

.container__training {
  @include flex-column-center;

  gap: 2rem;
  height: auto;
  background-color: $color-azul10;

  &--title {
    font-family: $font-family-Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;
    text-align: center;
    color: $color-preto;
  }

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;


    &__group {
      @include flex-column-start;
      gap: 1rem;
      padding: 1% 0;
      width: 290px;
      height: auto;
     
 
      &--img {
        @include flex-row-center;
        justify-content: center;
        width: 100%;
        height: 200px;
        padding: 6%;
        
        background-color: $background_color-branco;

        img {
          max-width: 90%;
          max-height: 90%;
        }
      }

      h6 {
        font-family: $font-family-Raleway;
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.438rem;
        color: $color-preto;
      }
  
      p {
        font-family: $font-family-Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.188rem;
        width: auto;
        color: $color-preto;

        a {
          text-decoration: none;

          &:visited {
            color: #696969;
          }
        }
      }
    }

  }
}

/* Professional Experience */

.container__projects {
  @include flex-column-center;
  height: auto;
  gap: 1rem;
  background-color: $background_color-cinza-claro;

  &--title {
    font-family: $font-family-Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;
    color: $color-preto;
  }

  &__block {
    @include flex-row-center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    gap: 4rem;

    &--img {
      width: 752px;
      height: 406px;
      background: url(../img/demo-decodificador.png);
      filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.40));
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-clip: content-box;
      border-radius: 0px;
      padding: 0px;
      gap: 1rem;
    }
    

    &__content {
      @include flex-column-start;
      padding: 0px;
      gap: 0.5rem;
  
      height: 112px;


      &__info {
        @include flex-column-start;
        width: 100%;
        height: auto;
        padding: 0px;
        gap: 0.5rem;
        ;

        &--title {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 19px;
          color: $color-preto;
        }

        &--paragraph {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.188rem;
          color: $color-preto;
        }

        &--buttons {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          width: 300px;
          height: 40px;
          gap: 1rem;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}


/* Contato */

.container__contact {
  @include flex-column-center;
  height: auto;
  background-color: $color-azul10;

  &__block {
    @include flex-row-center;
    height: auto;
    gap: 2rem;
    
    

    img {
      width: 400px;
      height: 655px;
    }

    &__group {

      
      &__text {
        @include flex-column-start;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
        gap: 1rem;
        

        &--title {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.375rem;
          color: $color-preto;
        }

        &--paragraph {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.188rem;
          color: $color-preto;
        }

        &--paragraph2 {
          font-family: $font-family-Raleway;
          font-style: normal;
          font-weight: 400;
          font-size: 0.9rem;
          line-height: 1rem;
          
        a {
          text-decoration: underline;
  
          &:link {
            color: $color-preto;
          }
  
          &:visited {
            color: #696969;
          }
        }
        }
      }

      &__forms {
        @include flex-column-start;
        gap: 1rem;

        .formsCampo {
          height: 70px;
          width: 100%;
    
          input {
            font-family: $font-family-Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            box-sizing: border-box;
            border: 0;
            outline: none;
            color: $color-preto;
            width: 100%;
            height: 70px;
            padding: 0.5rem;
            border-radius: 4px;
          }
          
          input:focus {
            border-bottom: 2px solid $color-azul-escuro;
          }
        }

        .formsCampoArea{
          width: 100%;
          

          textarea {
            font-family: $font-family-Raleway;
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            box-sizing: border-box;
            border: 0;
            outline: none;
            resize: none;
            color: $color-preto;
            width: 100%;
            height: 120px;
            padding: 0.5rem;
            border-radius: 4px;

            &:focus {
              border-bottom: 2px solid $color-azul-escuro;
            }
          }

        }


        button {
          width: 151px;
          height: 40px;
          margin: 1rem 0px;
        }
      }
    }
  }
}




