@media screen and (max-width: 600px) {

  .header__container__name {

    &--title {
      line-height: 1.188rem;
      font-size: 1rem;
    }
  }

  .header__container__contact {
    a {
      font-weight: 12px;
      line-height: 1.188rem;
      font-size: 1rem;
    }
  }

  .header__container__nav {
    display: none;
  }

  /* Contaiener profile */

  .container__profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1rem;
    background-color: #e5e5e5;

    &__image {
      width: 150px;
      height: 156px;
      margin: 0;

      &--img {
        width: 150px;
        height: 150px;
      }
    }

    &__content {
      padding-right: 0;

      &--title {
        font-size: 1.375rem;
        line-height: 1.625rem;
      }

      &--paragraph {
        font-size: 0.875rem;
        line-height: 1.1rem
      }

      &--links {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: auto;
        height: 1rem;
        gap: 0.5rem;

        a {
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1rem;
        }
      }
    }
  }

  /* Sobre mim */

  .container__aboutme {
    gap: 0.625rem;

    &__block {
      &--title {
        font-size: 1.375rem;
        line-height: 1.625rem;
      }

      &--paragraph {
        font-size: 0.875rem;
        line-height: 1.1rem
      }
    }
  }

  /* SKILSS */

  .container__skills {
    gap: 1rem;
    padding-bottom: 1rem;

    &--title {
      height: 1.625rem;
      margin: 13px;
      font-size: 1.375rem;
    }

    &__group {
      gap: 1rem;
      &__block {
        &--text {
          font-size: 1rem;
          line-height: 1.188rem;
        }
      }
    }
  }

  /* Academic education */

  .container__training {
    padding-top: 8%;
    padding-bottom: 8%;

    &--title {
      font-size: 1.375rem;
      line-height: 1.625rem;
    }

    &__block {
      &__group {
        width: 100%;

        &--img {
          width: 100%;
          height: 150px;

        }
      }

      h6 {
        font-size: 1rem;
        line-height: 1.188rem;

      }
      &--paragraph {
        font-size: 0.875rem;
        line-height: 1.1rem
      }
    }
  }

  /* Professional Experience */

  .container__projects {
    padding-top: 2%;
    padding-bottom: 8%;

    &--title {
      font-size: 1.375rem;
      line-height: 1.625rem;
    }

    &__block {
      padding: 0;
      gap: 0;

      &--img {
        width: 100%;
        height: 163px;
      }


      &__content {

        width: auto;
        height: auto;

        &__info {
          gap: 1rem;

          &--title {
            font-size: 1rem;
            line-height: 1.188rem;
          }

          &--paragraph {
            font-size: 0.875rem;
            line-height: 1.1rem
      
          }

          &--buttons {
            display: flex;
            flex-direction: row;
         
            gap: 1rem;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  
}
